@use "../base/variables";

.countdown {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.countdown__headline {
	font-family: variables.$font-primary;
	font-size: variables.$text-2xs;
	letter-spacing: 0.1px;
	font-weight: 900;
	padding-bottom: 4px;
	text-transform: uppercase;
}

.countdown__digits-container {
	display: flex;
}

.digit {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.digit__number {
	position: inherit;
	font-family: variables.$font-secondary;
	font-size: variables.$text-xl;
	font-weight: 900;
	background-color: variables.$white;
	border-radius: 5px;
	text-align: center;
	padding: 2px;
	margin-right: 2px;
	margin-left: 2px;
}

.digit__separator {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	&-line {
		background-color: gray;
		opacity: 0.2;
		height: 2px;
		width: 100%;
	}
}

.digit__legend {
	text-transform: uppercase;
	font-family: variables.$font-primary;
	font-size: variables.$text-3xs;
	letter-spacing: 0.74px;
	font-weight: 900;
	padding-top: 4px;
}
